* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: #F3F5FC;
}

#container {
    padding: 30px;
    width: 100%;
    height: 100%;
}

#main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100vh - 30px * 2);
    /* background-color: yellow; */
    margin: 0;
    /* height: 100%; */
}

#process {
    /* background-color: green; */
    width: 80%;
    height: 100%;
    margin-bottom: 50px;
}

#header {
    /* background-color: red; */
    height: 5%;
}

.header-logo {
    height: 100%
}

#text-container {
    margin: 5% 0;
    height: 75%;
    /* background-color: purple; */
}

#text {
    /* background-color: aqua; */
    width: 80%;
    margin: 0px auto;
    height: 100%;
}

#text textarea {
    border: none;
    outline: none;
    background-color: transparent;
}

#text:focus {
    border: none;
    outline: none;
}

.text-input {
    padding: 10px;
    width: 100%;
    height: 95%;
    resize: none;
    font-style: normal;
    font-weight: 400;
    /* font-size: 32px; */
    font-size: 1.5rem;
    line-height: 150%;
    color: #0A3871;
}

.text-input::placeholder {
    color: #0A3871;
    opacity: 1;
  }

#text-buttons-container {
    margin: 0 auto;
    width: 80%;
    height: 9%;
    /* background-color: tomato; */
}

#buttons-info-container i{
    margin-right: 5px;
}

.text-buttons-info {
    font-style: normal;
    font-weight: 400;
    /* font-size: 12px; */
    font-size: 0.8rem;

    line-height: 150%;
    color: #495057;
    opacity: 0.8;   
}

#buttons-container {
    display: flex;
    align-items: center;
    height: 100%;
}

#buttons-container button{
    width: 45%;
    height: 50px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-style: normal;
    font-weight: 400;
    /* font-size: 16px; */
    font-size: 1rem;
    /* line-height: 19px; */
    line-height: 1rem;
    text-align: center;
}

.text-buttons-encrypt{
    background-color: #0A3871;
    color: #FFFFFF;
    margin-right: 8%;
}

.text-buttons-decrypt{
    background-color: #D8DFE8;
    color: #0A3871;
}

#result {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

#result-img {
    /* background-color: violet; */
    height: 40%;
    width: 80%;
    text-align: center;
}

.result-img {
    width: 80%;
}

.result-msg-not-found {
    width: 100%;
    font-style: normal;
    font-weight: 700;
    /* font-size: 20px; */
    font-size: 1.2rem;
    line-height: 120%;
    text-align: center;
    color: #343A40;
}

.result-msg-not-found-info {
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    /* font-size: 12px; */
    line-height: 150%;
    text-align: center;
    color: #495057;
}


#result-text {
    /* background-color: violet; */
    width: 90%;
    height: 90%;
}

#result-text-processed {
    width: 100%;
    height: 90%;
    overflow-y: scroll;
    overflow-x: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
    /* font-size: 15px; */
    line-height: 150%;
    color: #495057;
}

#result-text-button {
    width: 100%;
    /* background-color: aquamarine; */
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#result-text-button-copy {
    width: 100%;
    height: 50px;
    border: 1px solid #0A3871;
    color: #0A3871;
    background-color: #FFFFFF;
    border-radius: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
    /* font-size: 16px; */
    line-height: 19px;
    text-align: center;
}

@media screen and (max-width: 768px) {

    #container {
        padding: 30px;
        width: 100%;
        height: 100%;
    }

    #main {
        display: flex;
        /* height: 100%; */
        height: calc(100vh - 30px * 2);
        flex-direction: column;
        align-items: center;
    }
    
    #header {
        background-color: red;
        width: 100%;
        flex-grow: 0;
    }

    #process {
        background-color: green;
        width: 100%;
        height: unset;
        flex-grow: 3;
        /* margin-bottom: 50px; */
    }
    
    
    .header-logo {
        height: 100%;
    }
    
    #text-container {
        /* margin: 10% 0; */
        height: 50%;
        /* background-color: purple; */
    }
    
    #text {
        /* background-color: aqua; */
        width: 100%;
        margin: 0px auto;
    }
    
    .text-input {
        padding: 10px;
        width: 100%;
        height: 100%;
        resize: none;
        font-style: normal;
        font-weight: 400;
        /* font-size: 22px; */
        font-size: 1.2rem;
        line-height: 150%;
        color: #0A3871;
    }
    
    .text-input::placeholder {
        color: #0A3871;
        opacity: 1;
      }
    
    #text-buttons-container {
        margin: 0 auto;
        width: 90%;
        background-color: tomato;
    }
    
    #buttons-info-container {
        margin-bottom: 10px;
    }
    
    .text-buttons-info {
        font-style: normal;
        font-weight: 400;
        /* font-size: 12px; */
        font-size: 0.8rem;
        line-height: 150%;
        color: #495057;
        opacity: 0.8;   
    }
    
    #buttons-container {
        display: flex;
        align-items: center;
        height: 100%;
    }
    
    #buttons-container button{
        width: 45%;
        height: 50px;
        border: 1px solid #0A3871;
        border-radius: 24px;
        font-style: normal;
        font-weight: 400;
        /* font-size: 16px; */
        font-size: 0.9rem;
        line-height: 19px;
        text-align: center;
    }
    
    .text-buttons-encrypt{
        background-color: #0A3871;
        color: #FFFFFF;
        margin-right: 8%;
    }
    
    .text-buttons-decrypt{
        background-color: #D8DFE8;
        color: #0A3871;
    }
    
    #result {
        flex-grow: 0;
        display: flex;
        overflow-y: visible;
        flex-direction: column;
        background: #FFFFFF;
        justify-content: center;
        align-items: center;
        width: 100%;
        box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
        border-radius: 32px;
        padding: 20px;
        height: unset;
    }
    
    #result-img {
        /* background-color: violet; */
        height: 40%;
        width: 80%;
        text-align: center;
    }
    
    .result-img {
        width: 80%;
        display: none;
    }
    
    .result-msg-not-found {
        width: 100%;
        font-style: normal;
        font-weight: 700;
        /* font-size: 15px; */
        /* font-size: 0.9rem; */
        line-height: 120%;
        text-align: center;
        color: #343A40;
    }
    
    .result-msg-not-found-info {
        width: 100%;
        font-style: normal;
        font-weight: 400;
        /* font-size: 10px; */
        /* font-size: 0.5rem; */
        line-height: 150%;
        text-align: center;
        color: #495057;
    }
    
    #result-text {
        /* background-color: violet; */
        width: 100%;
        height: unset;
    }
    
    #result-text-processed {
        width: 100%;
        height: 80%;
        overflow-y:unset;
        font-style: normal;
        font-weight: 400;
        /* font-size: 15px; */
        font-size: 0.9rem;
        line-height: 150%;
        color: #495057;
    }
    
    #result-text-button {
        width: 100%;
        /* background-color: aquamarine; */
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #result-text-button-copy {
        width: 100%;
        height: 50px;
        border: 1px solid #0A3871;
        color: #0A3871;
        background-color: #FFFFFF;
        border-radius: 24px;
        font-style: normal;
        font-weight: 400;
        /* font-size: 16px; */
        font-size: 0.9rem;
        line-height: 19px;
        text-align: center;
        margin-top: 40px;
    }

}

@media screen and (max-width: 375px) {
    .text-buttons-info {
        font-style: normal;
        font-weight: 400;
        font-size: 0.5rem;
        line-height: 150%;
        color: #495057;
        opacity: 0.8;   
    }

    #buttons-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        background-color: aqua;
    }

    #buttons-container button{
        width: 100%;
        height: 50px;
        font-size: 0.5rem; 
        /* font-size: 7px; */
        line-height: 19px;
        text-align: center;
    }

    .text-buttons-encrypt{
        margin-right: unset;
        margin-bottom: 10px;
    }

    #result {
        flex-grow: 0;
        display: flex;
        overflow-y: visible;
        flex-direction: column;
        background: #FFFFFF;
        justify-content: flex-start;
        align-items:center;
        width: 100%;
        box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
        border-radius: 32px;
        padding: 20px;
        height: unset;
    }
}